
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --cor-destaque: #023e8a;
  }
header h1{
    margin: 1rem;
    width:175px;
    color: var(--cor-destaque);
    border-bottom-color: var(--cor-destaque);
    border-bottom-width: 10px;
    border-bottom-style: solid;
}
main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 1rem
}
.left h1{
    margin: 1rem;
    font-size: 3.2rem;
    margin-top: 60px;
}
.left h3{
    margin: 1rem;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    
}
.left span{
    color: var(--cor-destaque);
}

.right{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 600;
}
.right input, select{
    font-size: 1.2rem;


}
.right input{
    width: 180px;
}
.btn-simular{
    width: 6rem;
    height: 3rem;
    border-radius: 15px;
    margin-top: 25px;
    background-color:var(--cor-destaque);
    color: white;
}
.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  
}
.container-resultado{
    background-color: var(--cor-destaque);
    color: white;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-resultado label{
    margin: 1rem;
}

.resultado-parcela{
    background-color: white;
    padding: 10px;
    border-radius: 32px;
    color: #219ebc;
}

.container-resultado input{
    width: 150px;
    height: 23px;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.hero-mobile{
  margin-top: 20px;
}

.hero-mobile2{
    width: 130px;
}

#valorParcela{
    padding: 8px;
    font-size: 1.5rem;
}